.*.sw*
.#*
*.log
taiga/search
settings/local.py
settings/celery_local.py
database.sqlite
logs
media
*.pyc
*.mo
.venv
.coverage
.cache
.\#*
.project
node_modules
.idea/
.vscode/
package-lock.json
.firebaserc
hocptit-b97c2-firebase-adminsdk-j3s4r-bac3533919.json
database.rules.json
testFireBase.html
tinasoft-74577-firebase-adminsdk-f3ugd-ee190cfe50.json